body {
    font: normal normal 400 16px/21px Helvetica;
    margin: 0px;
}

a {
    color: #b2bb35;
    outline: none;
    text-decoration: none;
}


/* what link look after being clicked*/

a:link {
    color: #b2bb35;
}


/* style when hovering cursor over text*/

a:hover {
    text-decoration: underline;
}

a.logo {
    background: url(logo1.png) no-repeat left top;
    display: block;
    height: 50px;
    left: 17%;
    position: absolute;
    width: 204px;
}

h1 {
    font: normal normal 35px/38px crimson text;
    margin: 0.67em 0;
    padding: 0;
    text-align: center;
    border-bottom: 1px solid #9A9A9A;
    padding: 30px;
}

h2 {
    font: normal normal bold 20px/26px Helvetica;
    margin: 0.83em 0;
    padding: 0;
}

h3 {
    font: normal normal bold 16/26px Helvetica;
    margin: 1em 0;
    padding: 0;
}

img {
    border: 0;
    display: block;
}

ol,
ul {
    margin: 1em 0;
    padding: 0 0 0 1.25em;
}

p {
    margin: 1em 0;
    padding: 0;
}


/*style for the attention area*/

#epAttention {
    position: relative;
    text-align: center;
    color: #9A9A9A;
    border-bottom: 1px solid #9A9A9A;
    padding: 5px;
}

.logo {
    margin: 20px;
}

#epColumn1 {
    margin-right: 330px;
}


/*Report button style*/

#epColumn2 {
    float: right;
    width: 300px;
    background-color: #b2bb35;
    color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 1.5em;
}

#epContent {
    clear: both;
    float: left;
    width: 960px;
}

#epEmergency {
    clear: both;
    border-top: 1px solid #9A9A9A;
    border-bottom: 1px solid #9A9A9A;
    padding: 10px;
}

#epFooter {
    clear: both;
}

#epFooter .line1 {
    float: left;
    color: #9A9A9A;
}

#epFooter .line2 {
    float: right;
}

#epFooter th {
    display: none;
}

#epHeader {
    height: 100px;
    position: relative;
    margin-bottom: 50px;
    border-bottom: 25px solid #e4dede;
}

#epNav {
    float: right;
    font: normal normal 400 12px/25px sans-serif;
    position: relative;
    right: 18%;
    top: 25px;
}

#epNav a:link {
    color: #424143;
    font: normal normal 400 16px/26px Helvetica;
}

#epNav a {
    display: block;
    float: left;
    padding: 0 20px;
    color: #000000;
}

#epNav a:hover {
    color: #b2bb35;
}


/*Need adjust*/

#epWrapper {
    float: left;
    left: 50%;
    margin-left: -480px;
    position: relative;
    width: 960px;
}


/*dp2*/

#epDataPrivacy .online,
#epDataPrivacy .phone,
#epDataPrivacy .output {
    display: none;
}

#epDataPrivacy ol.dropDowns {
    list-style: none;
    margin: 0;
    padding: 0;
}

#epDataPrivacy select {
    font: normal normal 400 12px/15px sans-serif;
    margin: 0 0 1em 0;
    width: 50%;
}


/*phone*/

#epPhone select {
    font: normal normal 400 12px/15px sans-serif;
    margin: 0 0 1em 0;
    width: 50%;
}


/*Issues*/

#epIssues {
    width: 100%;
}

#epIssues .catdesc {
    display: none;
}

#epIssues .catname {
    font: normal normal 700 16px/20px sans-serif;
}

#epIssues .details {
    font: normal normal 400 12px/20px sans-serif;
    position: absolute;
    right: 0;
    top: 0;
}

#epIssues .issue {
    color: #0000ff;
    margin: 10px 0;
    position: relative;
}

#epIssues .issue:hover {
    color: #008000;
}

#epIssues .name {
    font: normal normal 700 14px/20px sans-serif;
}

#epIssues .desc {
    padding: 1em 0 0 0;
}

.bottom {
    margin-bottom: 0;
    padding-bottom: 0;
}

.listor {
    list-style: none;
    margin: 1em 0;
}

.nowrap {
    white-space: nowrap;
}

.top {
    margin-top: 0;
    padding-top: 0;
}


/* button style*/

button {
    background-color: #9A9A9A;
    color: #ffffff;
    position: relative;
    font: normal normal 400 15px/30px Helvetica;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid #ffffff;
    transition: background-color 0.2s ease 0s;
    padding: 10px 50px 10px 50px;
    margin-left: 1.5em;
}

button:hover {
    background-color: #424143;
}